*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.backg{
    min-width: 1344px;
    width: 100vh;
    background-color: rgb(48, 53, 53);
    height: 120vh;
    position: relative;
}
.congty{
    display: inline-block;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-top: 5%;
    margin-left: 48%;
    color: rgb(255, 254, 254);
    width: 6%; 
    height: 2%;
    padding-top: 2px;
    padding-left: 5px;
    background-color: rgb(68, 68, 68);
}
.tieude{
    display: inline-block;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-top: 7.5%;
    margin-left: 39%;
    color: rgb(255, 254, 254);
    
}
.gt{
    display: inline-block;
    position: absolute;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 12%;
    margin-left: 40%;
    color: rgb(255, 254, 254);
}
.nut{
    margin-top: 15%;
    margin-left: 42%;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 16.5%;
    display: inline-block;
    position: absolute;
}
.nut1{
    border: 2px solid rebeccapurple;
    border-radius: 26px;
    height: 40px;
    width: 130px;
    color: white;
    display: inline-block;
    position: absolute;
    cursor: pointer;
    padding-top: 12px;
    font-size: 10px;
    font-weight: 600;
    text-align: center;
   
}
.nut2{
    background-color: rgb(255, 254, 254);
    border-radius: 26px;
    height: 40px;
    width: 130px;
    color: black;
    display: inline-block;
    position: absolute;
    cursor: pointer;
    padding-top: 14px;
    font-size: 10px;
    font-weight: 600;
    transform: translate(120%,0);
    text-align: center;
}
.hinh1{
    margin-left: 1.5%;
    margin-top: 22.5%;
    position: absolute;
   
    
}   
.hinh2{
    
    position: absolute;
    margin-top: 17.5%;
    margin-left: 16%;
}
.hinh3{
    position: absolute;
    margin-left: 5%;
    margin-top: 37.5%;
}
.hinh4{
    position: absolute;
    margin-left: 67.5%;
    margin-top: 22.5%;

}
.hinh5{
    position: absolute;
    margin-left: 79.5%;
    margin-top: 16%;
}
.hinh6{
    position: absolute;
    margin-left: 70%;
    margin-top: 37.5%;
}
.hinh7{
    position: absolute;
    margin-left: 92.5%;
    margin-top: 35%;
}
.hinhgiua{
    position: absolute;
    margin-left: 30%;
    margin-top: 20%;
}