*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.tcl-row .no-gutters .tcl-col-3{
    float: left;
}
.bgb4{
        color:#7b7b7b;
        text-indent: 0%;
        /* width: 100vh; */
        max-width: 1920px;
        background-color: white;
        display: inline-block;
       
}
.ab4{
        display: inline-block;
        color: rgb(243, 240, 240);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 120px;
        font-weight: 600;
        left: 50%;
        transform: translate(50%,15%);
        
}
.bb4{
        display: inline-block;
        color: black;
        font-size: 30px;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
        transform: translate(-40%, -10%);
        position: relative;
}
.gachb4{
        position: absolute;
        height: 2px;
        width: 70px;
        background-color: #323235;
        display: inline-block;
        left: 45%;
        transform: translateX(50%);
        margin-top: 12.5%;
}
.cb4{
        display: inline-block;
        width: 742px;
        text-align: center;
        white-space: pre-line;
        left: 0%;
        position: absolute;
        margin-top: 15%;
        margin-left: 22.5%;
}

.itemb4{
    cursor: pointer;
    margin-top: 10%;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: white;
    margin-left: 15%;
    box-shadow: 2px 2px 30px 2px rgb(2 5 24 / 50%);
    margin-top: 50%;
}
.itemb4:hover{
    color: #fff;
    background-color: #242832;
    border: 2px solid black;
    box-shadow: 2px 2px 30px 2px rgb(2 5 24 / 50%);
}
.textb4{
    display: block;
    color: black;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    margin-top: 10%;
}
.ion-navicon{
    display: inline-block;
    font-size: 100px;
    font-weight: 600;
    width: 250%;
    margin-top: 45px;
    margin-left: 70px;
}
