*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .ima2{
    width: 240px;
    height: 140px;
    background-image: url(imageb6/box-2.jpg);
    background-size: 240px;
    float: left;
}    */