*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.back{
    width: 100vh;
    min-width: 1344px;
    display: inline-block;
    position: relative;
    margin-top: 6%;
    height: 80vh;
    background-color:#141824;
}
.anh{
    transform: translate(0, -10%);
    
    
}
.textb3{
    display: inline-block;
    font-size: 25px;
    letter-spacing: 2px;
    
    color: white;
    z-index: 1;
    margin-left: 15%;
    margin-top: 10%;
    transform: translateY(0%);
}
.titleb3{
    display: inline-block;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    white-space: pre-line;
    margin-left: 15%;
    margin-top: 5%;
}
.button1b3{
    background-color: white;
    border-radius: 26px;
    height: 50px;
    width: 180px;
    color: black;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    padding-top: 15px;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    margin-left: 15%;
    margin-top: 7.5%;
}