*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.background{
    max-width: 1200px;
    background-color: rgb(248, 245, 245);

}
.item{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: white;
    
}